/* a {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: initial;
} */

.welcome-message {
    font-size: 1.1em;
    /* margin-top: 20px; */
    margin: 2.5rem 0;
    text-align: center;
    /* font-weight: bold; */
    font-style: italic;
    letter-spacing: 0.5px;
    color: #333;
    position: relative;
}

.avatar {
    border-radius: 50%;
    float: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

code {
  background: #f0f0f0;/* 将背景色改为更深的颜色，你可以根据需要调整，例如 #e0e0e0 */
  border-radius: 4px; /* 增加圆角，值越大圆角越明显 */
  padding: 0.2em 0.4em; /* 可选：增加内边距，让行内代码更美观 */
}
