body{
  font-family: 'Alegreya',Palatino,Optima,Book Antiqua, Candara, Calibri, Arial, "Noto Serif SC","Source Han Serif SC", STSong, "Songti SC",serif;
}


a {
    display:inline-block;
    position:relative;
    text-decoration: none;
    border-bottom: none;
    color: #333;
    transition: transform 0.1s ease;

}
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1.1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #111;
    transition: transform 0.1s ease;
}

a:hover {
    transform: translate(1px,1px);
    /* color: purple; */
}

.menu a {
    display: inline;
    border-bottom: none;
    /* font-weight: bold; */
}

footer a {
    border-bottom: none;
    color:#657b83;
}

.menu a:hover{
    color:purple;
}
.menu a::after,footer a::after {
    content: none; 
    display: none;
}

h2 {
    margin-top: 1.8em;
    line-height: 1.25; 
    margin-bottom: 0.75em
}

h3{
    margin-top: 1.5em;
    line-height: 1.25;
    margin-bottom: 0.5em;

}

.article-meta {
    border-radius: 5px;
    display: block;
    min-height: 100px;
    padding: 0 20px;
    line-height: 100px;
    
}

.article-meta h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    line-height: normal; 
    vertical-align: middle;
}

.article-meta .author:not(:empty),
.article-meta .date:not(:empty) {
    display: block;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.article-meta:has(.author:not(:empty)) {
    line-height: normal;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 1.05em;
}

.welcome-message {
    font-size: 1.1em;
    margin: 2.5rem 0;
    text-align: center;
    /* font-weight: bold; */
    font-style: italic;
    letter-spacing: 0.5px;
    color: #657b83;;
    position: relative;
}

.avatar {
    border-radius: 50%;
    float: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

code {
    font-family: Consolas, Courier, 'Lucida Console', 'Courier New', 'Kai TC', monospace,Monaco, monospace,'KaiTi', 'STKaiti', serif;
    font-size: 85%;
}

code {
  background: #eee;
  border-radius: 4px; 
  padding: 0.2em 0.4em;
}


blockquote {
    font-family:'Palatino Linotype, 'Book Antiqua', Palatino, 'KaiTi', 'STKaiti', serif;

}
/* About 页面样式 */
.about-page h1 {
    display: none;
}

.about-page.article-meta {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.about-page.author-avatar {
    flex-shrink: 0;
}

.avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    display: block;
}