{{ partial "header.html" . }}

{{ if .IsHome}}
<!-- <div class="avatar-container">
    <img src="{{ "/img/me3.jpeg" | relURL }}" alt="it's me" class="avatar">
</div> -->

<div class="welcome-message">
Where thoughts flow and moments stay.
</div>

{{ end }}

{{ .Content}}

<div class="clear-float"></div>

<h2>Recent Posts</h2>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}