{{ partial "header.html" . }}

{{ if .IsHome}}
<div class="avatar-container">
    <img src="{{ "/img/me3.jpeg" | relURL }}" alt="我的头像" class="avatar">
</div>
{{ end }}

{{ .Content}}

<div class="clear-float"></div>

<h2>Recently</h2>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}